.aboutUs hr{
  width: 80%;
  color: rgba(0, 255, 255, 0.692);
  border: 1px solid rgba(0, 255, 255, 0.692);
  margin: 0;
  padding: 0;
  display: none;
  box-shadow: 0px 10px 20px rgba(0, 255, 255, 0.692);
}
.aboutUs:hover > hr{
  display: block;
}

.aboutUs hr:last-child{
  margin-bottom: 10px;
}


.mobileAboutUs{
  color: #818181;
  overflow-wrap: anywhere;
  text-decoration: none;
  font-size: 25px;
}

.mobileAboutUs p{
  padding: 8px 8px 8px 32px;
  margin: 0;
}



.mobileAboutUs .linkDisplayMobile{   
   padding: 8px 8px 8px 32px;
   color: white;
}

 .linkDisplay{
      color: white;
      display: none;
      overflow: hidden;
    
    }

    
    .linkDisplay:hover{

  animation: scaleUp 1s ease-in-out infinite;

      background-color: #00f2fe;
      color: black;
      text-shadow: 10px 10px 20px  #00f2fe;
      /* color: rgba(2, 68, 68, 0.984); */
      box-shadow: 10px 10px 10px #00f2fe,
                  -10px 10px 10px #00f2fe,
                  10px -10px 10px #00f2fe,
                  -10px -10px 10px #00f2fe ;
    }

    @keyframes scaleUp {
      from{
        scale: 1;
      }

      to{
        scale: 1.02;
      }
    }


.aboutUs{
  overflow-wrap: anywhere;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.692);
  width: 220px;
  text-align: center;
  border: none;
  outline: none;
  color: #fff;
  background:#16213b;
  cursor: pointer;
  border-radius: 10px;
  margin: 20px 0px;
  font-size: 20px;  
  height: 50px;
}

.aboutUs:hover > .linkDisplay{
  display: flex;
}

    .aboutUs:hover{
        height: fit-content;
    }


.glowOnHover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background:#16213b;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-size: 20px;
  margin: 20px;
}

.glowOnHover:before {
  content: '';
  background: rgba(0,255,255,0.5);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glowOnHover:active {
  color: #000
}

.glowOnHover:active:after {
  background: transparent;
}

.glowOnHover:before {
  opacity: 1;
}

.glowOnHover:hover{
  scale: 1.1;
  transition: 0.4s ease;
}

.glowOnHover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #16213b;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
  font-family: Raleway;
  overflow: hidden;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}

.container2 {
  width: 100%;
  
}


.headerContainer5{
    margin-left: 190px;
    margin-top: -20px;
    margin-bottom: 20px;
    font-size: 35px;
    color: #fff;
    font-weight: bold;
    transition: 0.5s ease;
}

.headerBoxContainer5{
    margin-left: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    transition: 0.5s ease;
}

.texter1Container5, .texter2Container5{
   margin-left: 190px;
    font-size: 28px;
    color: #fff;
    font-weight: bold;
    transition: 0.5s ease;
}

.texter2Container5{
  font-size: 30px;
  margin-left: 190px;
  transition: 0.5s ease;
}

.boxesInContainer5{
  transition: 0.5s ease;
    margin-left: 70px;
}
.maper{
    margin-left: 40px;
    transition: 0.5s ease;
}
#maper{
  transition: 0.5s ease;
}

.sidebar {
  height: 100%;
  width: 90px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #16213b;
  content: "";
  background: #16213b;
  transition: all 0.3s;
  box-shadow: 0px 1px 2px rgba(0,255,255,0.5), 
              0px 2px 4px rgba(0,255,255,0.5), 
              0px 4px 8px rgba(0,255,255,0.5), 
              0px 8px 16px rgba(0,255,255,0.5);
  transition: 0.5s;
  overflow-x: hidden;
  padding-top: 60px;
  white-space: nowrap;
  border-bottom-right-radius: 20%;
  border-top-right-radius: 20%;
  backdrop-filter: blur(10px);
}

#main {
  padding: 16px;
  margin-left: 70px;
  transition: margin-left 0.5s;
}



.mic {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translate(-50%, -50%);
    color: #fff;
    transition: 0.5 ease;

    &::before,
    &::after {

      background-image: url(../asets/reshot-icon-arrow-right-ZP2WDL9B8N.svg);
      width: 50px;
      height: 50px;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 100%;
        z-index: 2;
        box-shadow: 0 0 10px 10px #1c084f;
    }

    &::before {
        width: 50px;
        height: 50px;
        background-color: #1a084e;
    }

    &::after {
        width: 70px;
        height: 70px;
        background-color: #2f1e5f;
        animation: circle-size 0.8s linear infinite alternate;
    }
}

.micShadow {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  z-index: 1;
  box-shadow: 10px -30px 30px 15px #823ca6, 24px -10px 47px 10px #aab3d2, -21px -25px 97px 10px #5acee3, 30px 5px 17px 10px #1b7d8f, 3px 2px 30px 10px #f30bf5;
  animation: shadow-rotate 1.5s linear infinite;
  transform-origin: center;
}

@keyframes circle-size {
    from {
        width: 50px;
        height: 50px;
    }
    to {
        width: 30px;
        height: 30px;
    }
}

@keyframes shadow-rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.sidebar2 {
  height:100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition:top 0.5s;
  padding-top: 60px;
  z-index: 99999;
}

.sidebar2 a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar2 a:hover {
  color: #f1f1f1;
}

.sidebar2 .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 40px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main2 {
  transition: margin-left .5s;
}

@media screen and (max-width: 1330px) {
  .glowOnHover{
    width: 140px;
  }

  .aboutUs{
    width: 140px;
  }
}


@media screen and (max-width: 1030px) {
  .glowOnHover{
    width: 130px;
  }

  .aboutUs{
    width: 130px;
  }
}


@media only screen and (max-width: 915px) {
  .glowOnHover{
    display: none;
  }
  .sidebar{
    display: none;
  }
  .sidebar2{
    display: block;
  }
}

@media only screen and (max-width: 915px) {
  .openbtn {
    display: block;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 99998;
  }
  .aboutUs{
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}


.mainCon{
  display: flex;
  justify-content: center;
  width: 100%;
}


@media (min-width: 1900px) and (max-width: 3000px) {
  
 .linkDisplay{
      color: white;
      display: none;
      overflow: hidden;
    
    }

.aboutUs{
  width: 370px; 
  height: 60px;
}

.aboutUs:hover > .linkDisplay{
  display: flex;
}

    .aboutUs:hover{
        height: fit-content;
    }

  .glowOnHover{
    width: 370px;
    height: 60px;
  }
}


/* about us  */


.backAboutUS{
  width: 60vw;
  height: 70vh;
  display: flex;
  justify-content: right;
  gap: 20px;
  align-items: flex-start ;

}

.backAboutUS .backAboutUSItem1{
  width: 300px;
  height: 60%;
  
  background-image: url('../asets/bg.jpg');
  background-position-y: -35px;
  background-position-x: left;
  
    /* background-size: auto; */
   background-repeat: no-repeat;
  
}

.backAboutUS .backAboutUSItem2{
   width: 300px;
  height: 100%;
  
   background-image: url('../asets/bg.jpg');
  background-position-y: top;
  background-position-x: center;
   background-size: auto;
   background-repeat: no-repeat;
 
}

.backAboutUS .backAboutUSItem3{
   width: 300px;
  height: 80%;
  margin-top: -35px;
 background-image: url('../asets/bg.jpg');
  background-position-y: 55px;
  background-position-x: right;
 
   background-repeat: no-repeat;
}

.aboutUsHeading{
  position: absolute;
  top: 60vh;
  left: 20vw;
  font-size: 4rem;
  color: white;
}

.backAboutUSContent{
  width: 100%;
  height: 500px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.backAboutUSMap{
  width: 80vw;
  display: flex;
  gap: 100px;
  color: white;
  font-size: 2rem;
  margin-bottom: 100px;
  max-width: 1200px;
}

.map{
  border-radius: 20px;
   width: 600px;
  height: 400px;
}

.mapContent a{
  color: white;

}

.mainConWrapper{
  max-width: 1200px;
  /* margin: 0 auto; */
}






@media only screen and (max-width: 1100px) {
.backAboutUSMap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map{
  width: 100%;
  height: 400px;
}
}
@media only screen and (max-width: 1400px) {


.aboutUsHeading{
  position: absolute;
  top: calc(50vh - 84px);
  left: calc(50vw - 195.4375px);
  font-size: 4rem;
  color: white;
}

  .backAboutUS{
  width: 60vw;
  height: 70vh;
  margin: 0;
  opacity: 0.6;
}
}

@media only screen and (max-width: 1400px) {
    .backAboutUS{
background-image: url("../asets/bg.jpg");
background-position: center;
background-size: cover;
background-repeat: no-repeat;
border-radius: 20px;
}



.backAboutUS .backAboutUSItem1{
display: none;

}

.backAboutUS .backAboutUSItem2{
  display: none;

}

.backAboutUS .backAboutUSItem3{
  display: none;

}
}


@media only screen and (max-width: 1770px) {
  .backAboutUS{
  width: 60vw;
  height: 70vh;
  margin: 0 auto;
}



.backAboutUS .backAboutUSItem1{
  width: 250px;
  height: 60%;
  background-position-y: -35px;
  
  
}

.backAboutUS .backAboutUSItem2{
   width: 250px;
  height: 100%;

 
}

.backAboutUS .backAboutUSItem3{
   width: 250px;
  height: 80%;

}
}

@media only screen and (max-width: 1830px) {
    .backAboutUS{
  width: 60vw;
  height: 70vh;
 
  margin: 0 auto;
}
}
@media only screen and (max-width: 1550px) {



.backAboutUS .backAboutUSItem1{
  width: 200px;
  height: 60%;
  background-position-y: -35px;
  
  
}

.backAboutUS .backAboutUSItem2{
   width: 200px;
  height: 100%;

 
}

.backAboutUS .backAboutUSItem3{
   width: 200px;
  height: 80%;

}
}






@media only screen and (max-width: 905px) {
  .backAboutUS{
    margin-top: 50px;



  } 

  .aboutUsHeading{
 
  font-size: 3rem;
   left: calc(50vw - 146.58px);
    top: calc(50vh - 40px);
}

@media only screen and (max-width: 510px) {
    .backAboutUS{
  height: 400px;
}


.mapContent{
  font-size: 1rem;
}

  
  .aboutUsHeading{
 
  font-size: 2rem;
   left: calc(50vw - 97px);
    top: calc(300px);
}

}}
@media only screen and (max-width: 380px) {
  
  .aboutUsHeading{
  font-size: 1.2rem;
   left: calc(50vw - 60px);
    top: calc(60vh );
}

}